<div class='top-page row'>
  <div class="upper-headline">
    <span class="headline">Activities: Accomplished!</span>
  </div>
  <div class="center-piece">
    BOX
    <div class="start-cta">
      <a href="#" class="button">Get Your Parent Supplies</a>

    </div>
  </div>
  <div class="lower-headline">
    <span class="headline">Unlimited discovery every week.</span>
  </div>
</div>
